{% extends "layout.html" %}

{% block heading %}
NBA Opinion
{% endblock %}

{% block body %}
    <p>
        Select an NBA team and enter a player's name.
    </p>

    <form action="{{ url_for('result') }}" method="post">
        <div>
            <select name="team" id="teams" action="{{ url_for('result') }}" method="post">
                <option value= "" selected disbled > Choose team</option> 
                <option value="hawks">Atlanta Hawks</option> 
                <option value="celtics">Boston Celtics</option>
                <option value="nets">Brooklyn Nets</option>
                <option value="hornets">Charlotte Hornets</option>
                <option value="bulls">Chicago Bulls</option>
                <option value="cavaliers">Cleveland Cavaliers</option>
                <option value="mavericks">Dallas Mavericks</option>
                <option value="nuggets">Denver Nuggets</option>
                <option value="pistons">Detroit Pistons</option>
                <option value="warriors">Golden State Warriors</option>
                <option value="rockets">Houston Rockets</option>
                <option value="pacers">Indiana Pacers</option>
                <option value="clippers">LA Clippers</option>
                <option value="lakers">Los Angeles Lakers</option>
                <option value="grizzlies">Memphis Grizzlies</option>
                <option value="heat">Miami Heat</option>
                <option value="bucks">Milwaukee Bucks</option>
                <option value="timberwolves">Minnesota Timberwolves</option>
                <option value="pelicans">New Orleans Pelicans</option>
                <option value="knicks">New York Knicks</option>
                <option value="thunder">Oklahoma City Thunder</option>
                <option value="magic">Orlando Magic</option>
                <option value="76ers">Philadelphia 76ers</option>
                <option value="suns">Phoenix Suns</option>
                <option value="trail blazers">Portland Trail Blazers</option>
                <option value="kings">Sacramento Kings</option>
                <option value="spurs">San Antonio Spurs</option>
                <option value="raptors">Toronto Raptors</option>
                <option value="jazz">Utah Jazz</option>
                <option value="wizards">Washington Wizards</option>
            </select>
        </div>

        <input type="text" id = "name" name="name" placeholder="Enter a player's name">
        <button>Submit. Ball is life.</button>
    </form>

{% endblock %}

<footer>
<p>This website was developed and designed by Ahmed Abukar(Harvard University) and John Kim(University of Virginia) </p>
</footer> 

